.logo {
    width: 180px;
    height: 75px;
}

.navv {
    margin-left: auto;
}

.butt {
    margin-left: 10px;
    border: solid #EEA412 2px !important;
}

ul button {
    border: solid #EEA412 2px !important;
}

nav a {
    color: white !important;
    font-size: 22px;
    text-transform: uppercase !important;

}

nav a:hover, .active {
    color: #EEA412 !important;
}

